@import "./fonts.css";

.App {
  text-align: center;
}
.container {
  max-width: 1000px;
  margin: auto
}
.header {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: blueviolet;
  font-size: 19px;
  font-weight: bold;
  font-family: BalooPaaji , sans-serif;
}